# GameBoost API Configuration
GAMEBOOST_API_URL=https://api.gameboost.com/v2
GAMEBOOST_API_TOKEN=1534|Lr2TskwlPyEUye7EKdSqSduMgX958YuSg3zPp7g01fea28a8
GAMEBOOST_TIMEOUT=10000

# App
PORT=3000
NODE_ENV=development
